

.graphs-container{
    background-color:white !important;
    border-radius:30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;

}

.ct-chart{
    overflow: hidden !important;
    height:400px !important;
}

.height-util{
    height:403px !important;
}

.legend{
    font-size:13px !important;
    color:gray;
}
