html,body{
    height: 100%;
    overflow: hidden;
}

.login{
    background: rgb(34,34,34);
    background: linear-gradient(176deg, rgba(34,34,34,1) 0%, rgba(107,107,107,1) 84%);
    width:100vw;
    background-size:cover;
    height:100vh;


}

.login-container{
    border-radius:10px;
    overflow:hidden;
    height:80vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.signup-container{
    border-radius:10px;
    overflow:hidden;
    height:100vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

@media only screen and (max-width: 600px) {
    .login-container {
        position: relative;
        top:0;
        left:0;
        transform: none;
    }
}





.login-avatar-container
{
    width:220px;
    height:220px;
    border:1px solid rgba(128, 128, 128, 0.5);
    border-radius:5px;
    position:relative;
    cursor:pointer;

}




.login-account{
    font-weight:bold;
    font-family:'Nunito'
}

.login-welcome{
    color:white;
    font-family:"Nunito";
    font-weight: bold;
    font-size:25px;

}

.login-copyright{
    /*color:gray;*/
    color:black;
    font-weight: bold;
    font-family: "Nunito", serif;
    font-size:12px;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
#login-trackingtext{
    color:black;
    font-weight:bold;
    font-family:Khula;
    font-size:3.2rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.hidden {
    opacity:0;
}


.yellow-form-label {
    float:left;
    background-color:#fdda00;
    padding:3px;
    color:black;
    font-family: 'Nunito', serif;
    font-weight:bold;
    position: absolute;
    top: -10px;
    left:20px;
    font-size:12px;
}

.yellow-form-group{
    position:relative;
}

.yellow-form-field{
    font-family: 'Nunito', serif;
    height:50px !important;
    padding-top:12px !important;
    padding-left: 35px !important;
    width:400px !important;
}




.yellow-form-field:focus{
    border:2px solid black !important;

}

.login-field-icon{
    position:absolute;
    top:20px;
    left:15px;
    color:gray;
    font-size:15px;
}

.login-form-checkbox
{
    border-radius:50px !important;
    border:2px solid black;
    height:20px;
    width:20px;
    cursor:pointer;
}

.login-form-checkbox--img{
position:absolute;
    left:-1px;
    top:-1px;
    cursor:pointer;
}

.login-form-checkbox--label{
    position:absolute;
    left:20px;
    font-family: 'Nunito', serif;
    font-weight:bold;
}

.login-forgot{
    cursor: pointer;
    font-family:'Nunito';
    font-weight:bold;
    color:#baa000;
    font-size:20px !important;
    margin-top:-5px;
    margin-left:220px;
}

@media only screen and (max-width: 600px) {
    .login-forgot {
        font-size:12px !important;
    }
    .yellow-form-field{
        width:100vw !important;
    }
}

.login-social
{
    width:30px !important;
    height:30px !important;
}

.login-phone{
    font-family: 'Nunito', serif;
    font-weight:bold;
    font-size:12px;
    color:gray;
}

.login-mobile-user{
    font-family: 'Nunito', serif;
    font-weight:bold;
}

.login-error{
    background-color:#e40613 !important;
    height:20px;
    text-align:center;
    transition: opacity 2s ease-in;
    width:430px;
    margin-left: 50px;
}

.login-error span{
    text-align:center;
    font-size:15px !important;
    margin-top:-10px;
    margin-left:20px;

}

.login-error-close{
    width:17px !important;
    height:17px !important;
    margin-top: -8px !important;
    display:none !important;

}

.login-signup
{
    color:white;
}

.login-signup span
{
    color:#baa000;
    cursor: pointer;
}
