.dropdown-menu , .dropdown-item
{
    /*width:200px;*/
    border-radius:3px;


}
.sidebar .logo-img img {
    max-width: 150px;
    max-height: 150px;
}

/*#dropdown-button-drop-right*/
/*{*/
/*    width:300px;*/
/*    border:none ;*/
/*    color:black ;*/

/*}*/

.btn-dropdownnested
{

    border:none;
    color:black !important;
    text-align:left;
    width:230px;
    height: 40px;

}

.sidebar{
    background: rgb(34,34,34) !important;
    background: linear-gradient(176deg, rgba(34,34,34,1) 0%, rgba(107,107,107,1) 84%) !important;
}
.btn-dropdownnested-item
{

    border:none;
    color:black !important;
    text-align:left;
    width:230px;
    height: 35px;
    margin-left:-1.5px;


}

.btn-dropdownnested-item span p
{
    font-size:15px;
}
.btn-dropdownright:hover{
    color:black;
}
@media only screen and (max-width: 600px) {

    .btn-dropdownright {
        width:230px;
    }
    .dropdown-menu, .dropdown-item
    {
        margin-left: 15px !important;
    }
    .btn-dropdownnested-item
    {
        margin-left: 15px !important;
        width:215px;
    }
}

.dropdown-icon, .dropdown-text
{
    display: inline-block;
}


.dot {
    height: 15px;
    width: 15px;
    margin-right:5px;
    margin-top:5px;
    background-color: transparent;
    border:2px solid #baa000;
    border-radius: 50%;
    display: inline-block;
}


